@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
/*
Theme Name: ArtLease
Theme URI: https://www.wordpressify.co
Author: Antoine DEMIERE
Author URI: http://www.antoinedemiere.com
Description: Art Lease official theme.
Version: 1.0
Tags: responsive, clean, minimal, modern, documentation
*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.container,.container-fluid{margin-right:auto;margin-left:auto}
.container-fluid{padding-right:32px;padding-right:2rem;padding-left:32px;padding-left:2rem}
.row{-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-8px;margin-right:-.5rem;margin-left:-8px;margin-left:-.5rem}
.row.reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.col.reverse{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:8px;padding-right:.5rem;padding-left:8px;padding-left:.5rem}
.col-xs{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}
.col-xs-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}
.col-xs-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}
.col-xs-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
.col-xs-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}
.col-xs-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}
.col-xs-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
.col-xs-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}
.col-xs-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}
.col-xs-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
.col-xs-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}
.col-xs-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}
.col-xs-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
.col-xs-offset-0{margin-left:0}
.col-xs-offset-1{margin-left:8.33333333%}
.col-xs-offset-2{margin-left:16.66666667%}
.col-xs-offset-3{margin-left:25%}
.col-xs-offset-4{margin-left:33.33333333%}
.col-xs-offset-5{margin-left:41.66666667%}
.col-xs-offset-6{margin-left:50%}
.col-xs-offset-7{margin-left:58.33333333%}
.col-xs-offset-8{margin-left:66.66666667%}
.col-xs-offset-9{margin-left:75%}
.col-xs-offset-10{margin-left:83.33333333%}
.col-xs-offset-11{margin-left:91.66666667%}
.start-xs{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}
.center-xs{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}
.end-xs{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}
.top-xs{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.middle-xs{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.bottom-xs{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
.around-xs{-ms-flex-pack:distribute;justify-content:space-around}
.between-xs{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.first-xs{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}
.last-xs{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}
@media only screen and (min-width:48em){.container{width:49rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-offset-0,.col-sm-offset-1,.col-sm-offset-10,.col-sm-offset-11,.col-sm-offset-12,.col-sm-offset-2,.col-sm-offset-3,.col-sm-offset-4,.col-sm-offset-5,.col-sm-offset-6,.col-sm-offset-7,.col-sm-offset-8,.col-sm-offset-9{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-sm{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-sm-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-sm-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-sm-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-sm-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-sm-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-sm-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-sm-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-sm-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-sm-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-sm-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-sm-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-sm-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-sm-offset-0{margin-left:0}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-11{margin-left:91.66666667%}.start-sm{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-sm{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-sm{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-sm{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-sm{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-sm{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-sm{-ms-flex-pack:distribute;justify-content:space-around}.between-sm{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-sm{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-sm{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}
@media only screen and (min-width:64em){.container{width:65rem}.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-offset-0,.col-md-offset-1,.col-md-offset-10,.col-md-offset-11,.col-md-offset-12,.col-md-offset-2,.col-md-offset-3,.col-md-offset-4,.col-md-offset-5,.col-md-offset-6,.col-md-offset-7,.col-md-offset-8,.col-md-offset-9{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-md{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-md-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-md-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-md-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-md-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-md-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-md-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-md-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-md-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-md-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-md-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-md-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-md-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-md-offset-0{margin-left:0}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-11{margin-left:91.66666667%}.start-md{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-md{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-md{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-md{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-md{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-md{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-md{-ms-flex-pack:distribute;justify-content:space-around}.between-md{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-md{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-md{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}
@media only screen and (min-width:75em){.container{width:76rem}.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-offset-0,.col-lg-offset-1,.col-lg-offset-10,.col-lg-offset-11,.col-lg-offset-12,.col-lg-offset-2,.col-lg-offset-3,.col-lg-offset-4,.col-lg-offset-5,.col-lg-offset-6,.col-lg-offset-7,.col-lg-offset-8,.col-lg-offset-9{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-lg{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-lg-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-lg-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-lg-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-lg-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-lg-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-lg-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-lg-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-lg-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-lg-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-lg-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-lg-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-lg-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-lg-offset-0{margin-left:0}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-11{margin-left:91.66666667%}.start-lg{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-lg{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-lg{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-lg{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-lg{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-lg{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-lg{-ms-flex-pack:distribute;justify-content:space-around}.between-lg{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-lg{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-lg{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}
@define-placeholder simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham-Black.otf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Gotham';
	src: url('fonts/GothamBold.otf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'Gotham';
	src: url('fonts/GothamBook.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Gotham';
	src: url('fonts/GothamMedium.otf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Gotham';
	src: url('fonts/GothamLight.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham-Thin.otf') format('truetype');
	font-weight: 200;
}
@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham-XLight.otf') format('truetype');
	font-weight: 100;
}

*/
html, body {
	background: #FFFFFF;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}
body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*:not(p) {
	outline: none;
	margin: 0;
	padding:0
}
*:not(p)::-moz-selection {
  color: #FFFFFF;
  background: #002B36;
}
*:not(p)::selection {
  color: #FFFFFF;
  background: #002B36;
}
li{
	padding: 5px 0;
	padding-left: 10px;
}
ul{
	padding: 20px 0;
	padding-left: 50px;
}
@media (max-width: 350px){
  ul{
    padding-left: 30px;
  }
}
a, button {
	text-decoration: none;
	/*transition: all .3s ease;*/
	color: inherit;


}
p {
	font-size: 16px;
	line-height: 2;
}
@media (max-width: 640px), (max-height: 600px){
  p {
    font-size: 14px;
    line-height: 1.4;
  }
}
h1, h2, h3 {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
h1 {
	font-size: 38px;
	line-height: 1.2;
	letter-spacing: 1px;
}
@media (max-width: 640px), (max-height: 600px){
  h1 {
    font-size: 8vw;
    line-height: 1.3;
  }
}
h2 {
  font-size: 31px;
  line-height: 1.2;
}
@media (max-width: 640px), (max-height: 600px) {
  h2 {
    font-size: 6vw;
    line-height: 1.2;
  }
}
h3 {
	font-size: 27.5px;
	line-height: 1;

	/*@media (--screen-mobile) {
		font-size: var(--h3-font-size-mobile);
		line-height: var(--h3-line-height-mobile);
	}*/
}
h4 {
	font-size: 24px;
	line-height: 1.4;
}
@media (max-width: 640px), (max-height: 600px){
  h4 {
    font-size: 21px;
    line-height: 1;
  }
}
.title{
  text-transform: uppercase;
  position: relative;
}
.title:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  background-color: #000000;
  position: absolute;
  left: 0;
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
}
@media (max-width: 640px), (max-height: 600px) {
  .title{
    font-size: 6vw;
  }
  .title:after{
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}
@media (max-height: 600px) {
  .title{
    font-size: 6vh;
  }
}
@media (max-width: 350px) {
  .title:after{
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
}
.container{
	max-width: 90%
}
.container:not(.documentation){
	margin: 50px auto;
    /* min-height: 920px; */
    width: 100%;
    z-index: 2;
    position: relative;
    overflow: hidden;
}
.container.documentation{
	padding-top : 100px;
}
@media print, (max-width: 1024px) {
  .container.documentation{
    padding-top: 50px;
  }
}
@media (max-width: 640px){
  .container.documentation{
    padding-top: 25px;
  }
}
.background-img{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}
.underline{
	border-bottom: 1px solid ;
}
.large-arrow{
	height: 50px
}
.large-arrow .large-arrow-line {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
#page{
	padding-top: 150px;
	min-height: 50vh;
	z-index: 1;
    position: relative;
}
@media (max-width: 1150px) {
  #page{
    padding-top: 100px;
  }
}
@media print, (max-width: 1024px) {
  #page{
    padding-top: 0;
    /*
var(--general-padding);
*/
  }
}
.frame{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1000;
	pointer-events: none;
	border: 0px solid #FFFFFF;
	-webkit-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s
}
.frame.show{
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border: 5px solid #FFFFFF;
  -webkit-transition: all 300ms linear 500ms;
  transition: all 300ms linear 500ms;
}
#scroll-wrapper{
	width: 100%;
	position: relative;
	min-height: 100%
}
#scroll-wrapper.blocked{
  height: 100%;
  overflow: hidden;
}
a.button {
	text-transform: uppercase;
	width: 100%;
    display: block;
	/*line-height: 1.2em;*/
	padding: 3px;
	text-align: center;
	border : 2px solid
}
a.button span{
  font-weight: 600;
}
.row{
	margin:0;
}
.page-title{
	margin-top: 0;
}
.copyright{
	color: #FFFFFF;
	text-align: center;
	font-size: 0.9em;
	width: 100%;
	padding-bottom: 1em;
	bottom: 0;
	position: fixed
}
.copyright a:hover{
  border-bottom: 1px solid;
}
@media print, (max-width: 1024px){
  .copyright a:hover{
    border: 0;
  }
}
@media (max-width: 640px){
  .copyright{
    font-size:11px;
  }
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*overflow: hidden;*/
	z-index: 4;
	-webkit-transition: -webkit-transform 500ms ease;
	transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease;
	transition: transform 500ms ease, -webkit-transform 500ms ease;
	background-color: #FFFFFF;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0)
}
.header.hide{
  -webkit-transform: translate3d(0, -150%, 0);
          transform: translate3d(0, -150%, 0);
}
.header.bright{
  background-color: transparent;
  color: #FFFFFF;
}
.header.bright .inner-content {
  /*
max-width: 95%;
*/
}
@media print, (max-width: 1300px) {
  .header.bright .inner-content {
    width: 98%;
    /*
padding: 0;
*/
  }
}
.header.bright .inner-content a.logo img{
  top: 15vh;
  height: 25vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15vw;
  max-width: 250px;
}
@media print, (max-width: 1300px){
  .header.bright .inner-content a.logo img{
    height: 11vw;
    width: auto;
    top:12vh;
  }
}
@media (max-width:1100px) {
  .header.bright .inner-content .navigation #menu-main{
    font-size: 1.2em;
  }
}
@media print, (max-width: 1024px) {
  .header {
    -webkit-transform: translate3d(0, -300%, 0);
            transform: translate3d(0, -300%, 0);
  }
  .header.hide{
    -webkit-transform: translate3d(0, -300%, 0);
            transform: translate3d(0, -300%, 0);
  }
  .header {
    /*
&.bright{
			& .inner-content {
				& a.logo {
					& img{
						top: 48vh;
						height: 110px;
						max-width: 130px;
					}
				}
			}
		}
*/
  }
}
.header {
  /*
@media (--screen-mobile-paysage){
		&.bright{
			& .inner-content {
				& a.logo {
					& img{
						top: 100vh;
					}
				}
			}
		}
	}

	@media (--screen-mobile) {
		height: var(--push-top-mobile);
		&.bright{
			& .inner-content {
				& a.logo {
					& img{
						height: 100px;
						top: 57vh;
						
					}
				}
			}
		}
	}

	@media (--screen-mobile), (--screen-mobile-paysage){
		&.bright{
			& .inner-content {
				& a.logo {
					& img{
						top: 105vh;
					}
				}
			}
		}
	}

	@media (--screen-tiny-paysage){
		&.bright{
			z-index: 1;

			& .inner-content {
				& a.logo {
					& img{
						height: 90px;
						top: 110vh;

					}
				}
			}
		}
	}

	@media (--screen-tiny) {
		height: var(--push-top-mobile);
		&.bright{
			& .inner-content {
				& a.logo {
					& img{
						top: 80vh;

					}
				}
			}
		}
	}
*/
}
.header .inner-content {
  max-width: 1300px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media print, (max-width: 1300px) {
  .header .inner-content {
    padding: 0 20px;
  }
}
.header .inner-content {
  position: relative;
  height: 90px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}
@media (max-width: 1150px){
  .header .inner-content {
    width: 100%;
    margin: 10px auto;
  }
}
.header .inner-content a.logo {
  /*
display: inline-block;
			box-sizing: border-box;
			transition: all 1s;
			transition-delay: 1s;
			display: flex;
			justify-content: center;
*/
  /*
position: relative;
*/
  /*
flex-direction: column;
*/
}
@media print, (max-width: 1300px) {
  .header .inner-content a.logo {
    left: 20px;
  }
}
.header .inner-content a.logo img {
  position: absolute;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  width: auto;
  /*
height: auto;
*/
  height: 105%;
}
.header .inner-content.transparent{
  background-color: transparent;
}
.header .inner-content .navigation {
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  /*
transition: all 1s ease;
*/
  /*
transition-delay: 1s;
*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header .inner-content .navigation div {
  /*
display: flex;
*/
  /*
float: right;
*/
  /*
height: 50%;
*/
  /*
justify-content: center;
*/
}
.header .inner-content .navigation ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .inner-content .navigation ul.menu li {
  padding: 0;
}
.header .inner-content .navigation ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .inner-content .navigation ul.menu li {
  /*
padding: 5px;
*/
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
  font-weight: 400;
}
.header .inner-content .navigation ul.menu li:last-child {
  margin-right: 0;
}
.header .inner-content .navigation ul.menu li a {
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: block;
  padding: 2px;
  text-align: center;
}
.header .inner-content .navigation #menu-superior{
  font-size: 14px;
  float: right;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding: 0px 0px 5px 20px;
}
.header .inner-content .navigation #menu-superior a:hover {
  color: rgb(253, 151, 104);
}
.header .inner-content .navigation #menu-superior .current-menu-item{
  color: #FD631D;
}
.header .inner-content .navigation #menu-main{
  font-size: 1.3em;
}
.header .inner-content .navigation #menu-main strong{
  margin-right: 5px;
  font-weight: 600;
}
.header .inner-content .navigation #menu-main li {
  margin-right: 45px;
}
.header .inner-content .navigation #menu-main li:last-child {
  margin-right: 0;
}
.header .inner-content .navigation #menu-main .current-menu-item > a{
  border:2px solid #000000;
}
.header .inner-content .navigation #menu-main a:hover{
  color:inherit;
}
@media (max-width: 1200px){
  .header .inner-content .navigation #menu-main{
    font-size: 1.2em;
  }
  .header .inner-content .navigation #menu-main li{
    margin-right: 25px;
  }
}
.header.loaded.scrolled {
  background: #FFFFFF;
  border-color: #E5E5E5;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
.header.loaded.scrolled .logo img {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  opacity: 0;
}
.header.loaded.scrolled .logo img.bright {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.header.loaded.bright {
  background: rgb(#FFFFFF / 50%);
}
.header.loaded.bright .logo img {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  background: transparent;
  opacity: 0;
}
.header.loaded.bright .logo img.bright {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
#page{
    z-index: 1;
	position: relative
}
#page .image-header{
  background-attachment: fixed;
  width: 100%;
  position: relative;
  background-color:#BBBBBB;
}
#page .top-overhang{
  padding: 0;
}
#page li{
  line-height: 1.5;
  padding-top: 4px;
}
#page .contents-slogan{
  color: #FFFFFF;
  padding: 50px;
  margin: 0;
  text-transform: uppercase;
  border-right: 5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#page .contents-slogan .contents-slogan-wrapper{
  width: 480px;
  width: 30rem;
  text-transform: uppercase;
  font-size: 1.3em;
}
#page .contents-slogan .contents-slogan-wrapper p {
  margin: 0;
}
#page .contents-slogan p{
  line-height: 1.2em;
  font-weight: 500;
  font-size: 19.2px;
  font-size: 1.2rem;
}
#page .section-container:not(:first-child){
  margin-top: 100px;
}
@media (max-width: 640px){
  #page .section-container:not(:first-child){
    margin: 0;
  }
}
#page .section-container-concept .contents,#page .section-container-conseil .contents,#page .section-container-realisations .contents{
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#page .section-container-concept .top-overhang-white{
  height: 100px;
  width: 100%;
}
#page .top-overhang-white{
  background-color: #FFFFFF;
}
#page .contents{
  background-color: #FFFFFF;
  padding: 50px;
}
#page .contents h2{
  text-transform: uppercase;
  position: relative;
}
#page .contents h2:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  background-color: #000000;
  position: absolute;
  left: 0;
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
}
@media (max-width: 640px), (max-height: 600px) {
  #page .contents h2{
    font-size: 6vw;
  }
  #page .contents h2:after{
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}
@media (max-height: 600px) {
  #page .contents h2{
    font-size: 6vh;
  }
}
@media (max-width: 350px) {
  #page .contents h2:after{
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
}
#page .contents h2{
  margin-bottom: 3em;
}
#page .contents h2:last-child{
  margin-bottom:0;
}
#page .contents .contents-wrapper{
  max-width: 700px;
  text-align: left;
}
#page .contents .contents-wrapper ul {
  list-style: square;
}
#page .top-overhang-white-wrapper{
  padding: 0;
}
#page .section-container-conditions .image-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#page .section-container-conditions .image-header .top-overhang-white-wrapper{
  position: relative;
}
#page .section-container-conditions .image-header .top-overhang-white-wrapper .top-overhang-white{
  height: 200px;
  width: 100%;
  display: block;
}
#page .section-container-conditions .image-header .top-overhang-white-wrapper .top-overhang-white.end{
  position: absolute;
  bottom: 0;
  height: 100px;
}
#page .section-container-conditions .image-header .contents-slogan{
  height: 400px;
  border:0;
  border-left: 5px solid;
  padding: 0;
}
#page .section-container-conditions .image-header .contents-slogan.end{
  height: 100px;
  border:0;
}
@media (max-width: 640px){
  #page .section-container-conditions .image-header .contents-slogan{
    height: 200px;
  }
  #page .section-container-conditions .image-header .contents-slogan.end{
    height: 0;
  }
}
#page .section-container-conditions .image-header .contents{
  padding-left: 100px;
  padding-bottom: 100px;
}
#page .section-container-conseil .image-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page .section-container-conseil .contents-slogan.end{
  height: 200px;
}
#page .section-container-conseil .contents-slogan{
  padding: 0;
}
@media (max-width: 640px){
  #page .section-container-conseil .contents-slogan{
    height: 200px;
  }
  #page .section-container-conseil .contents-slogan.end{
    padding: 0;
    height: 0;
  }
}
#page .section-container-conseil .top-overhang-white-wrapper{
  position: relative;
}
#page .section-container-conseil .top-overhang-white-wrapper .top-overhang-white{
  height: 150px;
  position: absolute;
  width: 100%;
}
#page .section-container-conseil .top-overhang-white-wrapper .top-overhang-white.end{
  position: absolute;
  bottom: 0;
  height: 50px;
}
#page .section-container-realisations{
  padding-top: 50px;
}
#page .section-container-realisations .contents-wrapper{
  width: 100%;
}
@media print, (max-width: 1024px) {
	.page .image-header{
    background-attachment: scroll;
  }
}
@media (max-width:770px){
	.page .top-overhang-white{
    display: none !important;
  }
	.page .contents-slogan{
    border: 0;
  }
	.page .section-container:not(:first-child){
    margin-top: 0px;
  }
	.page .section-container-conditions .image-header .contents,
		.page .section-container-concept .contents{
    padding:50px;
  }
}
@media (max-width: 640px){
	.page .contents{
    padding: 30px !important;
  }
	.page .section-container-conditions .image-header .contents-slogan{
    height: 200px;
  }
}
@media (max-width: 350px){
	.page .contents h2{
    margin-bottom: 1.5em;
  }
}
.archive .site-content{
  max-width: 1200px;
}
.archive .post-wrapper{
  border-bottom: 1px solid #686868;
}
.archive .post-wrapper:last-child{
  border: none;
}
.archive .post-wrapper .post{
  margin: 0 auto;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.archive .post-wrapper .post .inner-content{
  position: relative;
  min-height: 235px;
  width: calc(70% - 50px);
  margin-right: 50px;
}
.archive .post-wrapper .post .inner-content h2{
  margin-top: 0;
  margin-bottom: 1em;
}
.archive .post-wrapper .post .inner-content .post-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.archive .post-wrapper .post .inner-content .post-footer .date{
  font-size: 1.2em;
  line-height: 1.5em;
  color: #BBBBBB;
}
.archive .post-wrapper .post .inner-content .post-footer a.button {
  text-transform: uppercase;
  width: 100%;
  display: block;
  /*
line-height: 1.2em;
*/
  padding: 3px;
  text-align: center;
  border : 2px solid;
}
.archive .post-wrapper .post .inner-content .post-footer a.button span{
  font-weight: 600;
}
.archive .post-wrapper .post .post-thumbnail{
  -ms-flex-item-align: center;
      align-self: center;
  width: 30%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*
margin:auto;
*/
  /*
text-align: center;
*/
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.archive .post-wrapper .post .post-thumbnail .post-thumbnail-link{
  /*
@apply --full;
					position: absolute;
    				top: 0;
    				left: 0;
*/
}
.archive .post-wrapper .post .post-thumbnail .post-thumbnail-link .post-thumbnail-img{
  width: 100%;
  max-width: 220px;
  height: auto;
}
.archive .post-wrapper.odd .post, .archive .post-wrapper.odd .post-footer{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.archive .post-wrapper.odd .inner-content{
  margin-right: 0px;
  margin-left: 50px;
}
.archive .post-wrapper.odd .post-thumbnail{
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.archive .more-content{
  width:100%;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.archive .more-content img{
  width: 50px;
  height: 52px;
  -webkit-transform:rotate3d(0);
          transform:rotate3d(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.archive .more-content a:hover > img{
  -webkit-transform:rotate3d(0, 0, 1, 90deg);
          transform:rotate3d(0, 0, 1, 90deg);
}
@media (max-width: 820px){
  .archive #container{
    padding-top: 5vw;
    width:80%;
  }
  .archive .post-wrapper .post{
    padding: 70px 0px;
  }
  .archive .more-content{}
}
@media (max-width: 640px){
  .archive #container{
    padding-top: 5vw;
    width:80%;
  }
  .archive .post-wrapper .post, .archive .post-wrapper.odd .post{
    padding: 10vw 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .archive .post-wrapper .post .inner-content, .archive .post-wrapper .post .post-thumbnail, .archive .post-wrapper.odd .post .inner-content, .archive .post-wrapper.odd .post .post-thumbnail{
    width: 100%;
  }
  .archive .post-wrapper .post .inner-content{
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
    margin: 50px 0 0 0;
  }
  .archive .post-wrapper .post .post-thumbnail{
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .archive .post-wrapper.odd .post{}
}
@media (max-width: 350px){
  .archive #container{
    width:85%;
  }
}
#footer{
	width: 100%


}
#footer #footer-contact{
  height: 460px;
  position: relative;
  display: block;
}
@media print, (max-width: 1024px){
  #footer #footer-contact{
    display: none;
  }
}
#footer #footer-contact .copyright{
  position: absolute;
}
#footer #footer-contact .footer-wrapper{
  position: fixed;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: calc(100% - 100px);
}
#footer #footer-contact #contact{
  background-color: inherit;
}
#footer #footer-contact .top-page {
  color: #FFFFFF;
}
#footer #footer-contact .top-page .top-page-wrapper{
  /*
width: 100%;
*/
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}
#footer #footer-contact .top-page .top-page-wrapper .label{
  text-transform: uppercase;
  margin:0;
  margin-right: 50px;
  padding:0;
}
#footer #footer-contact .top-page .top-page-wrapper .label:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  background-color: #000000;
  -webkit-transform: translate3d(9px, 14px, 0);
          transform: translate3d(9px, 14px, 0);
  background-color: #FFFFFF;
  width: 30px;
}
#footer #footer-contact .top-page .top-page-wrapper .arrow{
  width: 30px;
  height: 30px;
}
#footer #footer-next-page{
  padding:100px;
  display: none;
  position: relative;
  background-color: #BBBBBB;
}
@media print, (max-width: 1024px){
  #footer #footer-next-page{
    display: block;
  }
}
#footer #footer-next-page .background-layer{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
#footer #footer-next-page .next-page-link{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
#footer #footer-next-page .inner-content{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer #footer-next-page .inner-content .text-wrapper{
  text-transform: uppercase;
  color: #FFFFFF;
  width: 60%;
  min-height: 200px;
}
#footer #footer-next-page .inner-content .text-wrapper.prev{
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
}
#footer #footer-next-page .inner-content .text-wrapper .next-page-title-wrapper{
  border-bottom: 1px solid;
  margin-bottom: 30px;
}
#footer #footer-next-page .inner-content .text-wrapper .next-page-title-wrapper:not(.single){
  min-height: 5em;
}
#footer #footer-next-page .inner-content .text-wrapper .next-page-title{
  font-weight: 400;
  font-size: 3em;
  margin-top: 0;
  position: absolute;
}
#footer #footer-next-page .inner-content .text-wrapper .next-page-title strong{
  font-weight: 600;
}
#footer #footer-next-page .inner-content .text-wrapper .next-page-title.single{
  font-size: 5vw;
}
#footer #footer-next-page .inner-content .text-wrapper .slogan{
  margin-bottom: 20px;
}
#footer #footer-next-page .inner-content .text-wrapper .slogan p{
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0;
}
@media (max-width: 820px){
  #footer #footer-next-page .inner-content .text-wrapper{
    width: 80%;
  }
  #footer #footer-next-page .inner-content .text-wrapper .next-page-title{
    font-size: 7vw;
  }
}
#footer #footer-next-page .inner-content .button{
  -ms-flex-item-align:end;
      align-self:flex-end;
}
#footer #footer-next-page .inner-content .button.prev{
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
#footer #footer-next-page .inner-content .button  .arrow{
  width: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#footer #footer-next-page .inner-content .button  .arrow .center-arrow{
  -webkit-transform-origin: center;
          transform-origin: center;
}
#footer #footer-next-page .inner-content .button  .arrow .cls-1, #footer #footer-next-page .inner-content .button  .arrow .cls-2{
  fill:none;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}
#footer #footer-next-page .inner-content .button  .arrow .cls-1{
  stroke-linecap:square;
  stroke-width:1.5px;
}
#footer #footer-next-page .inner-content .button  .arrow .cls-2{
  stroke-linecap:round;
  stroke-width:1.5px;
}
@media (max-width: 640px){
  #footer #footer-next-page{
    padding:50px;
  }
  #footer #footer-next-page .inner-content .text-wrapper .next-page-title-wrapper .next-page-title{
    font-size: 2em;
  }
  #footer #footer-next-page .inner-content .text-wrapper .slogan p{
    font-size: 1.3em;
  }
  #footer #footer-next-page .inner-content .button{
    -ms-flex-item-align:center;
        align-self:center;
  }
  #footer #footer-next-page .inner-content .button  .arrow{
    width: 35px;
  }
}
@media (max-width: 350px){
  #footer #footer-next-page{
    padding:25px;
  }
}
.single{
	position: relative
	/*margin-top: 50px;*/
}
.single .single-title{
  text-transform: uppercase;
  position: relative;
}
.single .single-title:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  background-color: #000000;
  position: absolute;
  left: 0;
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
}
@media (max-width: 640px), (max-height: 600px) {
  .single .single-title{
    font-size: 6vw;
  }
  .single .single-title:after{
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}
@media (max-height: 600px) {
  .single .single-title{
    font-size: 6vh;
  }
}
@media (max-width: 350px) {
  .single .single-title:after{
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
}
.single .single-title{
  text-transform: inherit;
  /*
&:before{
			@apply --afterLine;
			transform: translate3d(0, 50px, 0);
			width: 150px;
		}
*/
}
.single .post-content{
  z-index: 2;
  position: relative;
  padding-bottom: 50px;
}
.single .post-info{
  padding-top: 50px;
}
.single .post-info .date{
  position: absolute;
  right: 0;
  top: 0;
  line-height: 2.4;
  color:#BBBBBB;
  font-weight: 500;
}
.single .post-info .categorie{
  text-transform: uppercase;
  font-size: 1.2em;
  color : #FD631D;
  font-weight: 400;
  margin: 0;
  bottom: 0;
  position: fixed;
  -webkit-transform: translate3d(30%, -150px, 0) rotate(90deg);
          transform: translate3d(30%, -150px, 0) rotate(90deg);
  right: 0;
}
.single .post-info .categorie:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  background-color: #000000;
  bottom: -5px;
  width: calc(150px + 100%);
  background-color: #FD631D;
}
@media print, (max-width: 1024px){
  .single .post-info{
    padding: 10px;
  }
  .single .post-info .date{
    position: relative;
  }
}
@media (max-width: 640px){
  .single .post-info .categorie{
    display: none;
  }
}
.single .next-post{
  margin-top:20vh;
}
.single .next-post .next-post-label{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}
.single .next-post .next-post-label{
  margin-bottom: 1em;
}
.single .next-post .next-post-title{
  font-size: 1.3em;
  padding-left: 30px;
}
.single .next-post .next-post-arrows a:hover.enable .svg-path{
  stroke-dashoffset: 5;
  -webkit-transition: all 10s linear;
  transition: all 10s linear;
}
.single .next-post .next-post-arrows .arrow{
  width: 50px;
  margin: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.single .next-post .next-post-arrows .arrow .svg-path{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: all 3s linear;
  transition: all 3s linear;
}
.single .next-post .next-post-arrows .arrow .center-arrow{
  -webkit-transform-origin: center;
          transform-origin: center;
}
.single .next-post .next-post-arrows .arrow .cls-1, .single .next-post .next-post-arrows .arrow .cls-2{
  fill:none;
  stroke:#E5E5E5;
  stroke-miterlimit:10;
}
.single .next-post .next-post-arrows .arrow .cls-1{
  stroke-linecap:square;
  stroke-width:1.5px;
}
.single .next-post .next-post-arrows .arrow .cls-2{
  stroke-linecap:round;
  stroke-width:1.5px;
}
.single .next-post .next-post-arrows a.enable .cls-1, .single .next-post .next-post-arrows a.enable .cls-2{
  stroke:#000000;
}
.single .next-post .next-post-arrows a:not(.enable){
  pointer-events: none;
  cursor: default;
}
.single .next-post .next-post-arrows .right .center-arrow{
  -webkit-transform: translate(-2px, -1px) rotate(-180deg);
          transform: translate(-2px, -1px) rotate(-180deg);
}
@media print, (max-width: 1024px){
  .single .next-post{
    display: none;
  }
}
.single .single-content .single-cover{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.single .single-content .single-cover img{
  width: 90%;
  height: auto;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1100;
	stroke-dasharray: 1100;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49.999%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: 400;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
	/*stroke-dasharray: 60;*/
  }
  99.999%{
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    stroke-dashoffset: 1100;
	stroke-dasharray: 1100;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1100;
	stroke-dasharray: 1100;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49.999%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: 400;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
	/*stroke-dasharray: 60;*/
  }
  99.999%{
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    stroke-dashoffset: 1100;
	stroke-dasharray: 1100;
  }
}
.contact-full{
	position: fixed;
  width: 100%;
  height: 100%;
    top: 0;
    z-index: 1015;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-transform: translate3d(0, -100%, 0);
	        transform: translate3d(0, -100%, 0);
	-webkit-transition: -webkit-transform 500ms;
	transition: -webkit-transform 500ms;
	transition: transform 500ms;
	transition: transform 500ms, -webkit-transform 500ms
}
.contact-full.show{
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.contact-full .content-wrapper{
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.contact-full #contact .inner-content{
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact-full #contact .inner-content .logo img{
  width: 25vw;
}
.contact-full .contact-full-cross{
  position: absolute;
  right: 30px;
  top: 30px;
}
.contact-full .contact-full-cross img{
  width: 30px;
  height: 30px;
}
#contact{
	color: #FFFFFF	
	
}
#contact .inner-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*
align-items: center;
*/
  max-width: 1200px;
  margin: 0 auto;
}
#contact .inner-content a{
  width: 22%;
}
#contact .inner-content .logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 5vw;
  position: relative;
}
#contact .inner-content .logo img{
  width: 100%;
  height: 280px;
}
#contact .inner-content .contact-info .title {
  margin-top: 0;
  margin-bottom: 2em;
}
#contact .inner-content .contact-info .title:after{
  background-color:#FFFFFF;
  -webkit-transform:translate3d(0, 50px, 0);
          transform:translate3d(0, 50px, 0);
}
#contact .inner-content .contact-info .info-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contact .inner-content .contact-info .info-wrapper .bureau-info{
  padding-left: 80px;
}
#contact .inner-content .contact-info .info-wrapper .info-coord .info-coord-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin:15px 0;
}
#contact .inner-content .contact-info .info-wrapper .info-coord .info-coord-item .info-coord-icon{
  max-width: 25px;
  max-height: 30px;
  margin: 0 20px;
}
#contact .inner-content .contact-info .info-wrapper .info-coord .info-coord-item p{
  margin:0;
  min-width: 277px;
}
@media print, (max-width: 1024px){
	.contact-full{
		background-color: #000000
	}
	.contact-full #contact .inner-content {
    min-width: 70vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
	.contact-full #contact .inner-content .logo{
    margin-right: 0;
  }
	.contact-full #contact .inner-content .logo img{
    max-height: 80%;
    min-width: 27vw;
  }
	.contact-full #contact .inner-content .contact-info {
    padding-left: 100px;
    /*
var(--general-padding);
*/
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper .bureau-info{
    padding : 0;
  }
}
@media (max-width: 820px){
	.contact-full{
		background-color: #000000
	}
	.contact-full #contact .inner-content {
    min-width: 80vw;
  }
}
@media (max-height: 600px){
	.contact-full #contact {
    /*
margin: var(--general-padding);
*/
    width: 100%;
    height: 100%;
  }
	.contact-full #contact .inner-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90vw;
    /*
height: 100vh;
*/
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
	.contact-full #contact .inner-content .logo img{
    max-height: 50vh;
    min-width: 20vw;
  }
	.contact-full #contact .inner-content .contact-info{
    /*
overflow: scroll;
*/
    padding-top: 0px;
    width: auto;
    /*
padding-top: 20px;
*/
    padding:0;
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper {
    padding : 10px 0 0 0;
  }
	.contact-full #contact .inner-content .contact-info .info-label{
    margin:0;
  }
}
@media (max-width: 640px){
	.contact-full #contact .inner-content {
    width: auto;
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
  }
	.contact-full #contact .inner-content .logo img{
    max-height: 20vh;
    min-width: auto;
  }
	.contact-full #contact .inner-content .contact-info {
    width: auto;
    margin:auto;
    padding: 0px;
    /*
overflow: scroll;
*/
  }
	.contact-full #contact .inner-content .contact-info .title:before{
    -webkit-transform:translate3d(0, 40px, 0);
            transform:translate3d(0, 40px, 0);
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper {
    margin-top: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding : 10px 0 0 0;
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper .bureau-info{
    padding-left: 0;
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper .info-coord{
    margin-left: -10px;
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper .info-coord .info-coord-item .info-coord-icon{
    margin: 0 20px 0 0;
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper .info-label{
    margin:0;
  }
	.contact-full .contact-full-cross{
    bottom: 30px !important;
    top: auto;
  }
}
@media (max-height: 350px) and (max-width: 640px){
	.contact-full #contact {
    /*
margin: var(--general-padding);
*/
    width: 100%;
    height: 100%;
  }
	.contact-full #contact .inner-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90vw;
    /*
height: 100vh;
*/
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
	.contact-full #contact .inner-content .logo img{
    max-height: 50vh;
    min-width: 20vw;
  }
	.contact-full #contact .inner-content .contact-info{
    /*
overflow: scroll;
*/
    padding-top: 0px;
    width: auto;
    /*
padding-top: 20px;
*/
    padding:0;
  }
	.contact-full #contact .inner-content .contact-info .info-wrapper {
    padding : 10px 0 0 0;
  }
	.contact-full #contact .inner-content .contact-info .info-label{
    margin:0;
  }
	.contact-full #contact .inner-content .contact-info .title{
    margin-bottom: 0;
  }
	.contact-full #contact .inner-content .contact-info .title:after{
    -webkit-transform:translate3d(0, 25px, 0);
            transform:translate3d(0, 25px, 0);
  }
}
@media (max-width: 350px){
	.contact-full #contact .inner-content {
    width: 90vw;
    height: 88vh;
  }
	.contact-full #contact .inner-content .contact-info {
    width: 90%;
  }
}
@media (max-width: 350px), (max-height: 350px){
	.contact-full #contact .inner-content {
    height: 92vh;
  }
}
.gallery-empty{
	text-align: center;
	margin-bottom : 10em;
}
.gallery{
	z-index: 2;
    position: relative
    /*width: 100%;*/

}
.gallery .uk-grid {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  /*
width: 100%;
*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  /*
min-height: 5%;
*/
  margin-top: 20vh;
}
.gallery .uk-grid:before {
  content: "";
  display: block;
  overflow: hidden;
}
.gallery .uk-grid img{
  width: 100%;
  height: auto;
}
@media print, (max-width: 1024px){
  .gallery .uk-grid {
    margin: 5% 0 10% 0;
  }
}
.gallery .gallery-photo{
  width: 20%;
}
.gallery .gallery-photo .gallery-photo-link:hover .gallery-photo-overlay.hide.hover{
  /*
&.hover{
*/
  opacity:1;
  /*
}
*/
}
.gallery .gallery-photo .video-play{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.7;
}
.gallery .gallery-photo .video-play svg{
  width: 70px;
  height: 70px;
  margin: auto;
  text-align: center;
}
.gallery .gallery-photo .uk-grid-margin {
  margin: 0;
  padding: 0;
  /*
width: 	calc((100vw - 0px)*0.2) ;
*/
  height: 20vw;
  position: relative;
}
.gallery .gallery-photo .gallery-photo-overlay{
  position:absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4A4A4A;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}
.gallery .gallery-photo .gallery-photo-overlay.hide{
  opacity: 0;
}
.gallery .gallery-photo .gallery-photo-overlay.hide .gallery-photo-info{
  opacity: 1;
}
.gallery .gallery-photo .gallery-photo-overlay .gallery-photo-info{
  color: #FFFFFF;
  width: 80%;
  opacity: 0;
}
.gallery .gallery-photo .gallery-photo-overlay .gallery-photo-info h3{
  font-size: 1.5vw;
  text-align: center;
  line-height: 1.5em;
}
.gallery .gallery-photo .gallery-photo-overlay .gallery-photo-info .caption{
  text-transform: uppercase;
}
@media print, (max-width: 1024px) {
	.gallery .gallery-photo{
    width: 25%;
  }
	.gallery .gallery-photo .gallery-photo-link:hover .gallery-photo-overlay.hide.hover{
    opacity: 0;
  }
	.gallery .gallery-photo .uk-grid-margin {
    height: 25vw;
  }
}
@media (max-width: 820px) {
	.gallery .gallery-photo{
    width: 33.33%;
  }
	.gallery .gallery-photo .uk-grid-margin {
    height: 33vw;
  }
}
@media (max-width: 640px){
	.gallery .gallery-photo{
    width: 50%;
  }
	.gallery .gallery-photo .uk-grid-margin {
    height: 50vw;
  }
}
.uk-panel {
    display: block;
    position: relative;
}
.uk-grid-match>*>* {
    -ms-flex: none;
    -webkit-box-flex: 0;
            flex: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}
.uk-panel-box-primary {
    background-color: #ebf7fd;
    color: #2d7091;
    border-color: rgba(45, 112, 145, .3);
}
#gallery-full{
  width: 100%;
  height: 100%;
	background-color: #000000;
	position: fixed;
	z-index: 5000;
	top: 0;
	/*width: 100vw;
	height: 100vh;*/
	-webkit-transition: -webkit-transform 750ms;
	transition: -webkit-transform 750ms;
	transition: transform 750ms;
	transition: transform 750ms, -webkit-transform 750ms;
	-webkit-transform: translate3d(0, 150%, 0);
	        transform: translate3d(0, 150%, 0)
	/*border: 5px solid var(--white);*/

	
}
#gallery-full.show{
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#gallery-full{
  /*
& > *{
		position: absolute;
	}
*/
}
#gallery-full .gallery-full-cross{
  position: absolute;
  right: 30px;
  top: 30px;
}
#gallery-full .gallery-full-cross img{
  width: 30px;
  height: 30px;
}
#gallery-full .gallery-full-cross{
  z-index: 2;
}
#gallery-full .gallery-full-center{
  width: 100%;
  height: 100%;
}
#gallery-full .gallery-full-center .gallery-full-content-container > div{
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content{
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 500ms, -webkit-transform 0ms;
  transition: opacity 500ms, -webkit-transform 0ms;
  transition: transform 0ms, opacity 500ms;
  transition: transform 0ms, opacity 500ms, -webkit-transform 0ms;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content.show{
  opacity: 1;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content.next{
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
  -webkit-transform: translate3d(-200%, -50%, 0);
          transform: translate3d(-200%, -50%, 0);
  opacity: 0;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content.prev{
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
  -webkit-transform: translate3d(200%, -50%, 0);
          transform: translate3d(200%, -50%, 0);
  opacity: 0;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content .content{
  height: 75vh;
  max-height: 75vh;
  max-width: 90vw;
  height: auto;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content .content.hide{
  display: none;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content .content.video{
  width: 80vw;
  max-width: 80vw;
  height: 45.00197vw;
  max-height: 80vh;
  max-width: 1150px;
  max-height: 639px;
}
@media print, (max-width: 1024px){
  #gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content .content.video{
    width: 90vw;
    max-width: 90vw;
    height: 50.62721vw;
    max-height: 90vh;
  }
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-content .content.video{
  /*
@media (--screen-tablet){
							width: 864px; 
							height: 480px;
						}
						@media (max-width:900px){
							width: 600px; 
							height: 334px;
						}
						@media (--screen-mobile){
							width: 400px; 
							height: 222px;
						}
						@media (max-width: 420px){
							width: 325px; 
							height: 180px;
						}
*/
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-details{
  width: 100%;
  /*
width: calc(100% - var(--general-padding));
*/
  position: absolute;
  height: 100%;
  /*
overflow-y:hidden;
*/
  top: 0;
  color: #FFFFFF;
  left: 50%;
  -webkit-transform: translate3d(-50%, 100%, 0);
          transform: translate3d(-50%, 100%, 0);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  /*
background-color: color(var(--black) alpha(-30%));
*/
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-details.active{
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
@media print, (max-width: 1024px){
  #gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-details.active{
    -webkit-transform: translate3d(-50%, 100%, 0);
            transform: translate3d(-50%, 100%, 0);
  }
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-details .background-layer{
  height: 100%;
  width: 105%;
  background-color: rgba(0, 0, 0, 0.8);
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-details .overlay{
  position: absolute;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  opacity: 1;
  height: 20%;
  width: 110%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  left: 50%;
  bottom: -5%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(78%, rgba(0, 0, 0, 1)),to(rgba(0, 0, 0, 1)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 78%,rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-details .overlay.hide{
  opacity: 0;
}
#gallery-full .gallery-full-center .gallery-full-content-container .gallery-full-details .details-content{
  position: absolute;
  height: calc(100% - 100px);
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom{
  position: absolute;
  /*
height: 100%;
*/
  bottom: 0;
  width: 100%;
  z-index: 3;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom.hide{
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-wrapper{
  /*
height: 12vh;
*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container{
  margin: 10px 0;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  max-width: 50%;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .text{
  margin: 0;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-title{
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: 400;
  display: none;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-title.show{
  display: block;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-artist{
  font-size: 1.1em;
  display: none;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-artist.show{
  display: block;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn{
  position: absolute;
  right: -100px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  top: 50%;
  display: none;
}
@media (max-width: 640px){
  #gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn{
    right: -60px;
  }
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn.show{
  display: block;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn.active .info-btn .cls-1 {
  fill: #000000;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn.active .info-btn .cls-2{
  fill: #FFFFFF;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn .info-btn{
  width: 35px;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn .info-btn .cls-1 {
  fill: #fff;
  font-size: 30px;
  font-weight: 500;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn .info-btn .cls-2, #gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn .info-btn .cls-4 {
  fill: none;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn .info-btn .cls-2 {
  stroke: #fff;
  stroke-width: 3px;
}
#gallery-full .gallery-full-center .gallery-full-infos-bottom .gallery-full-infos-container .gallery-full-details-btn .info-btn .cls-3 {
  stroke: none;
}
#gallery-full .details-content{
  position: fixed;
  top: 0;
  overflow-y: auto;
  padding: 50px;
  min-width: calc(100% - 100px);
}
#gallery-full .details-content h1{
  font-size: 1.6em;
  margin-bottom: 3em;
  margin-top: 0;
}
#gallery-full .details-content h1:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  background-color: #000000;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  background-color: #FFFFFF;
  width: 120px;
}
#gallery-full .details-content.full{
  display: none;
  color: #FFFFFF;
  z-index: 2;
  height: calc(100vh - 150px);
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  padding-bottom: 100px;
}
#gallery-full .details-content.full.active{
  -webkit-transform: translate3d(0, 0 ,0);
          transform: translate3d(0, 0 ,0);
}
@media print, (max-width: 1024px){
  #gallery-full .details-content.full{
    display: block;
  }
}
@media (max-width: 640px){
  #gallery-full .details-content{
    padding:30px;
  }
}
#gallery-full .arrow{
  z-index: 2;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  top: 50%;
  padding: 10px;
}
#gallery-full .arrow .arrow-wrapper{
  position: relative;
  padding-right: 5vw;
}
#gallery-full .arrow .arrow-wrapper a{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
}
#gallery-full .arrow.hide{
  display: none;
}
#gallery-full .left-arrow .arrow-wrapper{
  padding-right: 0;
  padding-left: 5vw;
}
#gallery-full .left-arrow .large-arrow{
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
#gallery-full .left-arrow{
  left: 0;
  right: auto;
}
.mobile-header .logo{
  position: absolute;
  display: none;
  top: 10vh;
  left: 5vw;
  z-index: 1005;
}
.mobile-header .logo img{
  width: auto;
  height: 20vh;
}
@media print, (max-width: 1024px){
  .mobile-header .logo{
    display: block;
  }
}
@media (max-height: 350px){
  .mobile-header .logo{
    z-index: 1;
  }
}
.mobile-header.hide{
  /*
& #burger-menu-background, & .burger-btn-wrapper{
			transform: translate3d(100px, 0, 0);
		/*}
*/
  display: none;
}
.burger-btn-wrapper, #burger-menu-background{
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 1009;
	width: 70px;
	height: 70px;
	display: none;
	
}
@media print, (max-width: 1024px){
  .burger-btn-wrapper, #burger-menu-background{
    display: block;
  }
}
@media (max-width: 820px){
  .burger-btn-wrapper, #burger-menu-background{
    top: auto;
    right: 30px;
    bottom: 30px;
  }
}
.burger-btn-wrapper{
	z-index: 1010;
}
#burger-menu-background{
	background-color: #000000;
	border-radius: 50%;
	-webkit-box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.7);
	        box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.7);
	-webkit-transition: all 1s;
	transition: all 1s;	
	-webkit-transform: scale(1);	
	        transform: scale(1)

}
#burger-menu-background.open{
  -webkit-transform: scale(50);
          transform: scale(50);
}
.burger-btn-wrapper #burger-menu-btn{
  width: 40px;
  height: 25px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.5s;
}
.burger-btn-wrapper #burger-menu-btn .burger-menu-span{
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  margin-top: 10px;
  -webkit-transition :all 0.1s;
  transition :all 0.1s;
}
.burger-btn-wrapper #burger-menu-btn .burger-menu-span:before, .burger-btn-wrapper #burger-menu-btn .burger-menu-span:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  top: -10px;
  -webkit-transition : all 0.3s;
  transition : all 0.3s;
}
.burger-btn-wrapper #burger-menu-btn .burger-menu-span:after{
  top: 10px;
}
.burger-btn-wrapper #burger-menu-btn.open .burger-menu-span{
  background: transparent !important;
}
.burger-btn-wrapper #burger-menu-btn.open .burger-menu-span:before{
  -webkit-transform : rotate(-45deg) translate3d(-8px, 8px, 0);
          transform : rotate(-45deg) translate3d(-8px, 8px, 0);
}
.burger-btn-wrapper #burger-menu-btn.open .burger-menu-span:after{
  -webkit-transform : rotate(45deg)  translate3d(-6px, -6px, 0);
          transform : rotate(45deg)  translate3d(-6px, -6px, 0);
}
#burger-menu{
	position: fixed;
	color:#FFFFFF; 
	opacity: 0;
	-webkit-transition: 500ms linear 0ms;
	transition: 500ms linear 0ms;
	z-index: 1010;
  width: 100%;
  height: 100%
}
#burger-menu.show{
  opacity: 1;
  -webkit-transition: 500ms linear 200ms;
  transition: 500ms linear 200ms;
}
#burger-menu .logo{
  position: fixed;
  top: 50px;
  left: 50px;
}
#burger-menu .logo > img{
  max-width: 170px;
  width: 20vmax;
}
#burger-menu .navigation{
  position: fixed;
  top: 55%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  margin-left: 20px;
}
@media (max-height: 600px){
  #burger-menu .navigation{
    top: 50%;
  }
}
#burger-menu .navigation .menu{
  list-style: none;
  margin: 0;
  padding: 0;
}
#burger-menu .navigation .menu li {
  padding: 0;
}
#burger-menu .navigation .menu li{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8em;
  padding: 10px 0;
  white-space: nowrap;
}
#burger-menu .navigation .menu-main-container{
  padding-left: 20px;
  margin: 10px 0;
  margin-left: 20px;
  border-left: 1px solid;
}
#burger-menu .navigation .menu-main-container .menu strong{
  margin-right: 5px;
  font-weight: 600;
}
#burger-menu .navigation .menu-main-container .menu li:first-child{
  padding-top:0;
}
#burger-menu .navigation .menu-main-container .menu li:last-child {
  padding-bottom:0;
}
@media (max-width: 640px), (max-height: 600px){
	#burger-menu .logo{
    top: 30px;
    left: 30px;
  }
	#burger-menu .logo > img{
    width: 30vmin;
  }
	#burger-menu .navigation .menu li{
    font-size: 1.3em;
    padding: 5px 0;
  }
	#burger-menu .navigation .menu-main-container{
    padding-left: 10px;
    margin: 5px 0;
    margin-left: 10px;
  }
}
@media (max-width: 350px){
	#burger-menu-background, .burger-btn-wrapper{
		-webkit-transform: scale(0.8);
		        transform: scale(0.8);
	}
	#burger-menu-background, .burger-btn-wrapper{
		right: 20px;
    	bottom: 20px;
	}
	#burger-menu .navigation{
		top:58%;
	}
}
@media (max-width: 640px) and (max-height: 350px){
	#burger-menu .navigation .menu li{
    padding: 3px 0;
  }
}
#home-page{
  width: 100%;
  height: 100%;
	color: #FFFFFF;
	overflow: hidden
}
#home-page .section, #home-page .sections{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top:0;
}
#home-page .section.main .content,#home-page .sections.main .content{
  width: 80%;
  max-width: 1000px;
  /*
left: 50%;
				top: 60%;
				transform: translate3d(-50%, -50%, 0);
*/
}
#home-page .section.main .content p, #home-page .sections.main .content p {
  font-size: 3.2em;
  line-height: 1.5em;
  font-weight: 200;
  /*
white-space: nowrap;
*/
}
#home-page .section.main .content p strong,#home-page .sections.main .content p strong{
  font-weight: 500;
}
#home-page .section .background-layer,#home-page .sections .background-layer{
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}
#home-page .section .overlay,#home-page .sections .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#home-page #next-arrow{
  position: fixed;
  bottom: 5vh;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  left: 50%;
}
#home-page #next-arrow svg{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#home-page .content{
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
#home-page .sections .section{
  z-index: 0;
  top:100%;
}
#home-page .sections .content{
  width: 40%;
  -webkit-transform: translate3d(-50%, 50vh, 0);
          transform: translate3d(-50%, 50vh, 0);
  -webkit-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
}
#home-page .sections .content.active{
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 500ms ease-in-out 400ms;
  transition: all 500ms ease-in-out 400ms;
}
#home-page .sections .content .content-wrapper{
  text-transform: uppercase;
}
#home-page .sections .content .content-wrapper .content-link{
  position: relative;
}
#home-page .sections .content .content-wrapper .title-wrapper{
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
  height: 3em;
}
#home-page .sections .content .content-wrapper .title-wrapper .content-title{
  white-space: nowrap;
  font-size: 3em;
  margin: 0;
  font-weight: 200;
  -webkit-transition: -webkit-transform 200s;
  transition: -webkit-transform 200s;
  transition: transform 200s;
  transition: transform 200s, -webkit-transform 200s;
  top: -100%;
  position: absolute;
}
#home-page .sections .content .content-wrapper .title-wrapper .content-title strong {
  font-weight: 500;
}
@media (max-width:1150px){
  #home-page .sections .content .content-wrapper .title-wrapper .content-title{
    font-size: 2.7em;
  }
}
#home-page .sections .content .content-wrapper .slogan{
  font-size: 1.5em;
  font-weight: 200;
  padding: 20px 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  color: transparent;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  min-height: 2em;
  line-height: 1em;
}
#home-page .sections .content .content-wrapper .more-btn{
  width: 150px;
  margin: 0 0 0 auto;
  padding-top: 40px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 0;
}
#home-page .sections .content .content-wrapper .more-btn .button{
  width: 95%;
  border: 1px solid;
  text-align: center;
  padding: 4px 3px 2px 3px;
  /*
padding-bottom: 2px;
*/
  /*
line-height: 1em;
*/
  margin:0;
  /*
padding: 0;
*/
  /*
font-size: 1em;
*/
}
#home-page .sections .content .content-wrapper.show .slogan{
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  color: inherit;
  -webkit-transition: color 300ms linear 400ms, -webkit-transform 400ms;
  transition: color 300ms linear 400ms, -webkit-transform 400ms;
  transition: transform 400ms, color 300ms linear 400ms;
  transition: transform 400ms, color 300ms linear 400ms, -webkit-transform 400ms;
}
#home-page .sections .content .content-wrapper.show .more-btn{
  -webkit-transition: opacity 300ms linear 300ms;
  transition: opacity 300ms linear 300ms;
  opacity: 1;
}
#home-page .navigator{
  position: absolute;
  left: 20%;
  top: 60%;
  -webkit-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  -webkit-transform: translate3d(0, 300%, 0);
          transform: translate3d(0, 300%, 0);
}
#home-page .navigator.active{
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: all 500ms ease-in-out 400ms;
  transition: all 500ms ease-in-out 400ms;
}
#home-page .navigator .navigator-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
#home-page .navigator .navigator-list li {
  padding: 0;
}
#home-page .navigator .navigator-list{
  margin:auto;
  text-align: center;
}
#home-page .navigator .navigator-list .navigator-item{
  position: relative;
  margin: 35px 0;
}
#home-page .navigator .navigator-list .navigator-item .number{
  /*
transition: all 200ms;
*/
}
#home-page .navigator .navigator-list .navigator-item .number:before{
  content:'';
  position: absolute;
  left: -40px;
  width: 0px;
  height: 2px;
  background-color: #FD631D;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#home-page .navigator .navigator-list .navigator-item.current .number{
  opacity: 1;
}
#home-page .navigator .navigator-list .navigator-item.current .number span{
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
#home-page .navigator .navigator-list .navigator-item.current .number:before{
  width: 20px;
}
#home-page .navigator .navigator-list .navigator-item.current .dot{
  opacity: 0;
}
#home-page .navigator .navigator-list .navigator-item .number{
  opacity: 0;
}
#home-page .navigator .navigator-list .navigator-item .dot{
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  border: 1px solid;
}
#home-page .navigator .next-arrow svg{
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media print, (max-width: 1024px){
  #home-page .section.main .content,#home-page .sections.main .content{
    width: 60%;
  }
  #home-page .section.main .content p, #home-page .sections.main .content p {
    font-size: 5vmin;
  }
  #home-page .section .content,#home-page .sections .content{
    width: 60%;
  }
  #home-page .section .content .content-wrapper .title-wrapper,#home-page .sections .content .content-wrapper .title-wrapper{
    height: 3.5em;
  }
  #home-page .section .content .content-wrapper .title-wrapper .content-title,#home-page .sections .content .content-wrapper .title-wrapper .content-title{
    font-size: 3em;
  }
  #home-page .section .content .content-wrapper .slogan,#home-page .sections .content .content-wrapper .slogan{
    font-size: 3.5vmin;
  }
  #home-page .navigator{
    left: 10%;
    bottom: 15vh;
  }
}
@media (max-height: 600px){
  #home-page .section .content,#home-page .sections .content{
    top: 50%;
  }
  #home-page .section .content .content-wrapper .slogan,#home-page .sections .content .content-wrapper .slogan{
    font-size: 1.5em;
  }
  #home-page .navigator{
    display: none;
  }
}
@media (max-width: 640px){
  #home-page .section.main .content,#home-page .sections.main .content{
    width: 80%;
  }
  #home-page .section.main .content p, #home-page .sections.main .content p {
    font-size: 8vmin;
  }
  #home-page .section .content,#home-page .sections .content{
    top: 60%;
    width: 80%;
  }
  #home-page .section .content .content-wrapper .title-wrapper,#home-page .sections .content .content-wrapper .title-wrapper{
    height: 3em;
  }
  #home-page .section .content .content-wrapper .title-wrapper .content-title,#home-page .sections .content .content-wrapper .title-wrapper .content-title{
    font-size: 7vmin;
  }
  #home-page .section .content .content-wrapper .slogan,#home-page .sections .content .content-wrapper .slogan{
    font-size: 4.5vmin;
  }
  #home-page .navigator{
    left: -10%;
    bottom: 15vh;
  }
}
@media (max-height: 350px){
  #home-page .section.main .content,#home-page .sections.main .content{
    width: 80%;
    top: 60%;
  }
  #home-page .section.main .content p, #home-page .sections.main .content p {
    font-size: 5vmin;
  }
  #home-page .section .content,#home-page .sections .content{
    width: 80%;
    top: 50%;
  }
  #home-page .section .content .content-wrapper .title-wrapper,#home-page .sections .content .content-wrapper .title-wrapper{
    height: 2em;
  }
  #home-page .section .content .content-wrapper .title-wrapper .content-title,#home-page .sections .content .content-wrapper .title-wrapper .content-title{
    font-size: 6vmin;
  }
  #home-page .section .content .content-wrapper .slogan,#home-page .sections .content .content-wrapper .slogan{
    font-size: 4vmin;
  }
  #home-page .section .content .content-wrapper .more-btn,#home-page .sections .content .content-wrapper .more-btn{
    margin:0;
  }
  #home-page .sections{
    z-index: 1;
  }
}
.page.about .cover{
  padding-top: 100px;
}
.page.about .cover .cover-img{
  position: relative;
  height: 55vh;
  padding: 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.page.about .cover .cover-img .background-layer{
  width: 100%;
  height: 100%;
}
.page.about .cover .cover-img .overlay{
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
}
.page.about .cover .slogan{
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  padding-right: 8%;
}
.page.about .cover .slogan p{
  font-size: 1.3em;
}
.page.about .container .content p {
  text-align: left;
}
.page.about .banniere-wrapper{
  overflow: hidden;
  height: 40vh;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.page.about .banniere-wrapper .banniere{
  width: 100%;
  height: 100%;
}
.page.about .team-section{
  margin-top: 50px;
  text-align: left;
}
.page.about .team-section .member-container{
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.page.about .team-section .member-container .team-member{
  margin: 0 50px 50px 0;
  min-height: 400px;
  min-width: 250px;
  height: 23vw;
  width: 15vw;
  position: relative;
  color: #FFFFFF;
  -webkit-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, .3);
          box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, .3);
  background-color: #BBBBBB;
}
.page.about .team-section .member-container .team-member:last-child{
  margin-bottom:0;
}
.page.about .team-section .member-container .team-member .background-layer{
  height: 100%;
}
.page.about .team-section .member-container .team-member .overlay, .page.about .team-section .member-container .team-member .infos{
  position: absolute;
  top: 0;
}
.page.about .team-section .member-container .team-member .overlay{
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, .5) 100%);
}
.page.about .team-section .member-container .team-member .infos{
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border: 1px solid;
  padding: 5px;
}
.page.about .team-section .member-container .team-member .infos .name{
  margin: 0;
  font-size: 1.1em;
}
.page.about .team-section .member-container .team-member .infos .function{
  margin: 5px 0;
}
.page.about .button-wrapper{
  position: relative;
  height: 100px;
  padding-bottom: 100px;
  display: none;
}
.page.about .button-wrapper .button{
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 12px 5px;
  background-color: #000000;
  color : #FFFFFF;
  text-align: center;
}
.page.about .button-wrapper .button a{
  white-space: nowrap;
  font-size: 1.6em;
  padding: 5px 10px;
  border: 1px solid;
  text-transform: uppercase;
  font-weight: 600;
}
@media print, (max-width: 1024px){
  .page.about .button-wrapper{
    display: block;
  }
}
@media print, (max-width: 1024px){
  .page.about .team-section .member-container{
    /*
justify-content: center;
*/
    padding-bottom: 0;
  }
  .page.about .team-section .member-container .team-member{
    margin: 0 25px 25px 0;
  }
}
@media (max-width: 640px){
  .page.about .cover{
    padding: 0;
  }
  .page.about .team-section .member-container{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page.about .team-section .member-container .team-member{
    margin: 0 25px 50px 25px;
  }
  .page.about .button-wrapper .button a{
    font-size: 1.3em;
  }
  .page.about .container{
    margin-top: 0;
  }
}
@media (max-width: 350px){
  .page.about .cover{
    padding-top: 50px;
  }
}
.artiste{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-line-pack: center;
	    align-content: center;
	margin-bottom: 100px

}
.artiste .title{
  margin-bottom: 100px;
}
.artiste .paragraph{
  margin: 15px 0;
}
.artiste .photo-container{
  padding:100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.artiste .photo-container.tablet{
  display: none;
}
.artiste .photo{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.artiste .text-container{
  padding: 0 50px;
}
.artiste .text-container .bio .page .paragraph{
  margin: 1em 0;
}
.artiste .title.oeuvres{
  margin-bottom: 100px;
}
@media print, (max-width: 1024px){
	.artiste .photo-container{
    display: none;
  }
	.artiste .photo-container.tablet{
    display: block;
    padding: 0 0 30px 30px;
  }
	.artiste .photo-container .photo{
    /*
width: 250px;
				height: 250px;
*/
  }
	.artiste .text-container{
    padding: 0;
  }
	.artiste .paragraph{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
	.artiste .paragraph:first-child{
    display: block;
  }
}
@media (max-width:580px){
	.artiste .title, .artiste .title.oeuvres{
    margin: 0px;
  }
	.artiste .photo-container.tablet{
    width: 100%;
    padding: 50px 0;
  }
	.artiste .photo-container.tablet .photo{
    text-align: center;
    margin: auto;
  }
	.artiste .paragraph{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 350px){
	.artiste .photo-container .photo{
    width: 250px;
    height: 250px;
  }
}
#loader{
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
	z-index: 8000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #FFFFFF;
	-webkit-transition: -webkit-transform 500ms;
	transition: -webkit-transform 500ms;
	transition: transform 500ms;
	transition: transform 500ms, -webkit-transform 500ms
}
#loader.hide{
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
#loader .loader-logo{
  width: 200px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
#loader svg{
  width: 200px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
#loader svg .square-path{
  fill:none;
  stroke:#000000;
  stroke-width:3;
  stroke-miterlimit:10;
  -webkit-transform-origin: 46% 36.5%;
          transform-origin: 46% 36.5%;
  -webkit-animation: dash 4s infinite;
          animation: dash 4s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
#loader .loader-wrapper{
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

